			#nav {
				position: fixed;
				top: 0px;
				left: 0px;
				padding: 10px;
				margin: 0px;
				width: 100%;
				background-color: #ffecc4;
			}
			
			#sidenav {
				position: fixed;
				top: 20%;
				left: 5%;
				padding: 5px;
				margin: 10px;
				width: 15%;
				background-color: #ffecc4;
				border: 3px solid #7c0000;
				padding-top: 20px;
				padding-bottom: 20px;
			}
			
			a:link {
				color: #000000;
			}
			
			a.navbar:link {
				color: #7c0000;
				text-decoration: none;
				padding: 10px;
				margin: 5px;
				font-size: 22px;
			}
			
			a.navbar:visited {
				color: #7c0000;
				text-decoration: none;
				padding: 10px;
				margin: 5px;
				font-size: 22px;
			}
			
			a.navbar:hover {
				color: #7c0000;
				text-decoration: none;
				padding: 10px;
				margin: 5px;
				font-size: 22px;
				background-color: #fffaef;
			}
			
			a.sidenavbar:link {
				color: #7c0000;
				text-decoration: none;
				padding: 10px;
				margin: 5px;
				font-size: 20px;
			}
			
			a.sidenavbar:visited {
				color: #7c0000;
				text-decoration: none;
				padding: 10px;
				margin: 5px;
				font-size: 20px;
			}
			
			body {
				background-color: #fffaef;
				text-align: center;
				width: 700px;
				margin-left: auto;
				margin-right: auto;
				color:  black;
			}
			
			#sidenav {
				text-align: left;
			}
			
			p, ol {
				text-align: left;
				color: #420000;
			}
			
			h1, h2 {
				text-align: center;
				color: #7c0000;
			}
			
			hr {
				border-color: #7c0000;
			}
			
			table, th, td {
				border: 2px solid #7c0000;
				border-collapse: collapse;
				margin-left: auto;
				margin-right: auto;
				font-size: 18px;
				padding: 3px;
			}