#nav {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: #ffecc4;
}

#sidenav, #sidenavS {
    position: fixed;
    top: 20%;
    left: 5%;
    padding: 5px;
    margin: 10px;
    width: 17%;
    background-color: #ffecc4;
    border: 3px solid #7c0000;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

#sidenavS {
    width: 13%;
}

a:link {
    color: #000000;
}

a.navbar:link {
    color: #7c0000;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    font-size: 22px;
}

a.navbar:visited {
    color: #7c0000;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    font-size: 22px;
}

a.navbar:hover {
    color: #7c0000;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    font-size: 22px;
    background-color: #fffaef;
}

a.sidenavbar:link {
    color: #7c0000;
    text-decoration: none;
    font-size: 20px;
}

a.sidenavbar:visited {
    color: #7c0000;
    text-decoration: none;
    font-size: 20px;
}

body {
    background-color: #fffaef;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color:  black;
}

p, ol {
    text-align: left;
    color: #420000;
}

h1, h2 {
    text-align: center;
    color: #7c0000;
}

hr {
    border-color: #7c0000;
}

table, th, td {
    border: 2px solid #7c0000;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 3px;
}

button {
    border: none;
    cursor: pointer;
    background-color: #ffecc4;
    color: #7c0000;
    font-family: "serif";
    font-size: 22px;
}

#rightScrollB {
    position: fixed;
    top: 40%;
    right: 20%;
    padding: 5px;
    width: 5%;
}

#leftScrollB {
    position: fixed;
    top: 40%;
    left: 20%;
    padding: 5px;
    width: 5%;
}


#scrollRB, #scrollLB {
    border: none;
    cursor: pointer;
    background-color: #fffaef;
    color: #7c0000;
    font-family: "sans-serif";
    font-size: 32px;
}

.GoToIndex {
    position: fixed;
    bottom: 10%;
    right: 0%;
    padding: 10px;
    width: 10%;
    background-color: #ffecc4;
    border: 2px solid #7c0000;
}

#height {
    bottom: 3%;
}

.indexLink:link {
    color: #7c0000;
    text-decoration: none;
}

.indexLink:hover {
    color: #7c0000;
    text-decoration: none;
}

.indexLink:visited {
    color: #7c0000;
    text-decoration: none;
}
